.player-list{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    overflow: auto;
}

.player{
    max-width: 300;
    max-height: 150;
}

.player-list h1{
    color: black;
    font-size: 48px;
     
}
.imgmax{
    width: 50%;
}