div p{
    color: black;
}

.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    padding: 1rem;
}
.foto{
    width : 200px;
    height : 200px;
    object-fit: cover;
}
